<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/head :: head('Create Post')">
</head>
<body>

<nav th:replace="partials/navbar :: nav"></nav>

<!--<div sec:authorize="isAuthenticated()" class="text-center" style="color: red;">-->
<!--    This content is only shown to authenticated users.-->

<!--    User ID: <span th:text="${#authentication.principal.id}"/>-->
<!--    Username: <span th:text="${#authentication.principal.username}"/>-->
<!--    Email: <span th:text="${#authentication.principal.email}"/>-->
<!--    <br />-->
<!--</div>-->

<div class="d-flex justify-content-center align-items-center container text-center">
    <div class="row ">
<form th:action="@{'/posts/create'}" th:method="POST" th:object="${post}">
    <div class="form-group">
        <label for="title">Post Title</label>
        <input type="text" class="form-control" th:field="*{title}" placeholder="Post Title" />
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;" />
    </div>
    <div class="form-group">
        <label for="body">Post Text</label>
        <textarea class="form-control" th:field="*{body}" cols="30" rows="10"></textarea>
        <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" style="color: red;"/>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Post Category</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Egyptian Mau</option>
            <option>Maine Coon</option>
            <option>Devon Rex</option>
            <option>British Shorthair</option>
            <option>Bengal</option>
        </select>
    </div>
    <a th:href="@{'/posts/create'}"><button class="btn btn-primary">Submit</button></a>
</form>
</div>
</div>


<div th:replace="partials/footer :: footer"></div>
</body>
</html>