<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/head :: head('View Posts')">
</head>
<body>

<nav th:replace="partials/navbar :: nav"></nav>

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.

    User ID: <span th:text="${#authentication.principal.id}"/>
    Username: <span th:text="${#authentication.principal.username}"/>
    Email: <span th:text="${#authentication.principal.email}"/>
</div>

<div class="d-flex justify-content-center align-items-center container">
    <div class="row ">
<form th:action="@{'/posts/create'}" th:method="POST" th:object="${post}">
    <div class="form-group">
        <label for="title">Post Title</label>
        <input type="text" class="form-control" th:field="*{title}" placeholder="Post Title" />
<!--        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />-->
    </div>
    <div class="form-group">
        <label for="body">Post Text</label>
        <textarea class="form-control" th:field="*{body}" rows="3"></textarea>
<!--        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />-->
    </div>
    <a th:href="@{'/posts/create'}"><button class="btn btn-primary">Submit</button></a>
</form>
</div>
</div>

<div th:replace="partials/footer :: footer"></div>
</body>
</html>